{% extends 'base.html' %}

{% block title %}
  CATEGORY title
{% endblock %}

{% block content %}
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      {% include 'left_sidebar.html' %}
      <div class="col-sm-6">
        <h2>{{ category }}</h2>
        <div class="list-group">
          {% for job in jobs %}
            <a href="/job/{{ job.id }}/" class="col-sm-4 list-group-item list-group-item-action">{{ job }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
{% endblock %}